# Игнорируем все папки target
target/

# Исключаем из игнорирования maven-wrapper.jar, если он есть
!/.mvn/wrapper/maven-wrapper.jar

# Исключаем из игнорирования target в src/main и src/test
!**/src/main/**/target/
!**/src/test/**/target/

# Игнорируем все файлы и папки .idea
.idea/

# Игнорируем все файлы IntelliJ IDEA
*.iws
*.iml
*.ipr

# Игнорируем все файлы Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# Игнорируем все файлы NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
# исключаем из игнорирования папку build в src/main и src/test
!**/src/main/**/build/
!**/src/test/**/build/

# Игнорируем все файлы VS Code
.vscode/

# Игнорируем все файлы Mac OS
.DS_Store

# Игнорируем логи
*.log
app.log